@import url('https://fonts.googleapis.com/css?family=Skranji');
*{
margin: 0;
padding: 0;
background-color: #000;
}
.title{
    margin-bottom: -80px;
    font-size: 50px;
    color: white;
    text-align: center;
    font-family: 'Skranji', cursive;
}
nav{
    width: 100%;
}
nav ul{
    text-align: center;
}
nav ul li{
    display: inline-block;
    text-align: center;
}
nav ul li a{
    padding: 20px;
	text-decoration: none;
    font-size: 20px;
    color: #fff;
    margin-left: 70px;
    width: 70px;
    font-family: 'Skranji', cursive;
    position: relative;
    display: inline-block;
    transition-property: color;
    transition-duration: 0.3s;
    transition-delay: 0;
}
nav ul li a:hover{
    color: #0074d2;
}
.action{
    background: #0074d2;
}
section{
    position: relative;
}
section div{
    position: absolute;
    width: 100%;
    height: 500px;
    background: #09018e38;
}
section img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 500px;
}
section div h1{
    position: absolute;
    bottom: 0;
    font-size: 90px;
    color: #fff;
    background: transparent;
    font-family: 'Skranji', cursive;
}












































/* section div{
    display: inline-flex;
}
section div:first-child article:first-child {
    margin: 100px 0 0 50px;
    position: relative;
    height: 372px;
}
section div:first-child article:nth-child(2){
    margin: 100px 0 0 20px;
    position: relative;
    height: 372px;
}
section div:first-child article:nth-child(3){
    margin: 100px 0 0 20px;
    position: relative;
    height: 372px;
}
section div:first-child article:last-child{
    margin: 100px 0 0 20px;
    position: relative;
    height: 372px;
}
section div:last-child article:first-child{
    margin: 80px 0 0 50px; 
    position: relative;
    height: 372px;
}
section div:last-child article:nth-child(2){
    margin: 80px 0 0 20px; 
    position: relative;
    height: 372px;
}
section div:last-child article:nth-child(3){
    margin: 80px 0 0 20px;
    position: relative; 
    height: 372px;
}
section div:last-child article:last-child{
    margin: 80px 0 0 20px; 
    position: relative;
    height: 372px;
}
/* .video{
    width: 1260px;
    height: 1000px;
    margin: -200px 0 -280px 50px;
} */


/* section div article div{
    position: absolute;
    top: 0;
	text-align: center;
    display: inline-block;
    height: 372px;
    opacity: 0;
    background-color: rgba(0,0,0,0.5);
}
section div article div h4{
    text-align: center;
    color: white;
    height: 45px;
	padding: 20px 0;
    font-size: 40px;
    background-color: transparent;
    font-family: 'Gugi', cursive;
    margin-top: 20px;
    transform: translateY(-20px);
	transition: all 0.5s linear;
}
section div article:hover div h4{
    transform: translateY(0);
}
section div article div p{
    color: white;
    background-color: transparent;
    font-family: 'Gugi', cursive;
    font-weight: bold;
	text-align: justify;
	padding: 0 20px;
	margin-top: 20px;
    font-size: 14px;
    opacity: 0;
	transition: all 1s linear;
}
section div article div p:hover{
    transition: ease-out .1s;
    color:gray;
}
section div article div a{
    text-decoration: none;
    font-family: 'Gugi', cursive;
    font-weight: bold;
	color: white;
	background-color:transparent;
	padding: 15px 20px;
	display: inline-block;
	margin-top: 20px;
	font-size: 20px;
	transition: all 1s linear;
}
section div article div a:hover{
    transition: ease-out .1s;
    border-bottom: solid #fff 2px;
}
section div article:hover div , section div article:hover div p , section div article:hover div a {
    opacity: 1;
}  */






































footer:hover{
    opacity: 0.4;
}

footer:hover .icon-facebook, footer:hover .icon-twitter, footer:hover .icon-instagram,footer:hover .facebook, footer:hover .twitter, footer:hover .instagram{
    background-color: #000;
    color: white;
}
footer {
    width: 100%;
    height: 80px;
    opacity: 0.8;
    position: relative;
    font-family: 'Gugi', cursive;
    bottom: -500px;
    margin-top: 50px;
    -ms-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
.icon-twitter, .icon-facebook,.icon-instagram,.twitter,.facebook,.instagram{
    background: #000;
    padding: 15px;
    margin-left: 3%;
    top: 15%;
    position: absolute;
    -ms-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
.twitter{
    margin-left: 6%;
}
.icon-facebook{
    margin-left: 18%;
}
.facebook{
    margin-left: 21%;
}
.icon-instagram {
    margin-left: 33%;
}
.instagram{
    margin-left: 36%;
}
.p1{
    right: 18%;
    position: absolute;
    font-size: 40px;	
    color: #fff;
    transition: all .7s linear;
}
.twitter, .instagram,.facebook{
    font-size: 13.9px;
} 






